<menu class="dnd5e2 retro-adv">
  <button type="button" data-retro-action="dis" {{disabled dis}}>{{localize "DND5E.Disadvantage"}}</button>
  <button type="button" data-retro-action="norm" {{disabled norm}}>{{localize "DND5E.Normal"}}</button>
  <button type="button" data-retro-action="adv" {{disabled adv}}>{{localize "DND5E.Advantage"}}</button>
</menu>
