<small class="flexrow retroactive-advantage-buttons">
  <button data-retro-action="dis" {{disabled dis}}>{{localize "DND5E.Disadvantage"}}</button>
  <button data-retro-action="norm" {{disabled norm}}>{{localize "DND5E.Normal"}}</button>
  <button data-retro-action="adv" {{disabled adv}}>{{localize "DND5E.Advantage"}}</button>
</small>
